Makefile.in
configure
config.h.in
lib/Makefile.in
aclocal.m4
Makefile
autom4te.cache
config.h
config.log
config.status
stamp-h1
src/*.o
src/.deps
src/colloquium
src/.dirstamp
*~
INSTALL
build-aux
lib
