Makefile.in
configure
config.h.in
lib/Makefile.in
aclocal.m4
Makefile
autom4te.cache
config.h
config.log
config.status
stamp-h1
src/*.o
src/.deps
src/.libs
src/colloquium
src/.dirstamp
tests/.libs
*~
INSTALL
libtool
m4/lt*.m4
m4/libtool.m4
lib/.libs
lib/.deps
lib/*.o
lib/*.lo
lib/*.la
lib/*.a
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
